<h2>Indexed Blogs</h2>

<div class="tile is-ancestor is-multiline columns">
  <%= for blog <- @blogs do %>
    <%= render JamRadarWeb.BlogView, "_blog.html", blog: blog, conn: @conn %>
  <% end %>
</div
